<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns= "http://www.thymeleaf.org"
  th:replace="~{/layout/layout::dynamic(~{::title},~{::body})}">

<head>
  <title>Danh sách nhân viên | Quản trị Admin</title>

</head>
<body>
  <!-- Navbar-->
  
  <main class="app-content">
    <div class="row">
      <div class="col-md-12">
        <div class="app-title">
          <ul class="app-breadcrumb breadcrumb">
            <li class="breadcrumb-item"><a href="#"><b>Bảng điều khiển</b></a></li>
          </ul>
          <div id="clock"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <!--Left-->
      <div class="col-md-12 col-lg-6">
        <div class="row">
       <!-- col-6 -->
       <div class="col-md-6">
        <div class="widget-small primary coloured-icon"><i class='icon bx bxs-user-account fa-3x'></i>
          <div class="info">
            <h4>Tổng khách hàng</h4>
            <p><b>56 khách hàng</b></p>
            <p class="info-tong">Tổng số khách hàng được quản lý.</p>
          </div>
        </div>
      </div>
       <!-- col-6 -->
          <div class="col-md-6">
            <div class="widget-small info coloured-icon"><i class='icon bx bxs-data fa-3x'></i>
              <div class="info">
                <h4>Tổng sản phẩm</h4>
                <p><b>1850 sản phẩm</b></p>
                <p class="info-tong">Tổng số sản phẩm được quản lý.</p>
              </div>
            </div>
          </div>
           <!-- col-6 -->
          <div class="col-md-6">
            <div class="widget-small warning coloured-icon"><i class='icon bx bxs-shopping-bags fa-3x'></i>
              <div class="info">
                <h4>Tổng đơn hàng</h4>
                <p><b>247 đơn hàng</b></p>
                <p class="info-tong">Tổng số hóa đơn bán hàng trong tháng.</p>
              </div>
            </div>
          </div>
           <!-- col-6 -->
          <div class="col-md-6">
            <div class="widget-small danger coloured-icon"><i class='icon bx bxs-error-alt fa-3x'></i>
              <div class="info">
                <h4>Sắp hết hàng</h4>
                <p><b>4 sản phẩm</b></p>
                <p class="info-tong">Số sản phẩm cảnh báo hết cần nhập thêm.</p>
              </div>
            </div>
          </div>
           <!-- col-12 -->
           <div class="col-md-12">
            <div class="tile">
                <h3 class="tile-title">Phòng còn trống</h3>
              <div>
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>Mã Phòng</th>
                      <th>Sức Chứa</th>
                      <th>Đã Ở</th>
                 
                    </tr>
                  </thead>
                  <tbody>
              
                    
                       <tr th:each="pt : ${phongTrong}">
                    <td th:text="${pt.maPhong}"></td>
                    <td th:text="${pt.sucChua}"></td>
                    <td th:text="${pt.dangO}"></td>
                </tr>
                   
                  
                  </tbody>
                </table>
              </div>
              <!-- / div trống-->
            </div>
           </div>
          
             <!-- col-12 -->
      <!-- /        <div class="col-md-12">
                <div class="tile">
                  <h3 class="tile-title">Khách hàng mới</h3>
                <div>
                  <table class="table table-hover">
                    <thead>
                      
                    </thead>
                    <tbody>
                     
                     
                     
                   
                    </tbody>
                  </table>
                </div>

              </div>
            </div>-->
             <!-- / col-12 -->
        </div>
      </div>
      <!--END left-->
      <!--Right-->
 
      <!--END right-->
    </div>



  </main>
  
</body>

</html>
