<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns= "http://www.thymeleaf.org"
  th:replace="~{/layout/layout::dynamic(~{::title},~{::body})}">

<head>
  <title>Danh sách nhân viên | Quản trị Admin</title>

</head>
<body>
  <!-- Navbar-->
  
  <main class="app-content">
    <div class="row">
      <div class="col-md-12">
        <div class="app-title">
          <ul class="app-breadcrumb breadcrumb">
            <li class="breadcrumb-item"><a href="#"><b>Bảng điều khiển</b></a></li>
          </ul>
          <div id="clock"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <!--Left-->
      <div class="col-md-12 col-lg-6">
        <div class="row">
       <!-- col-6 -->
       <div class="col-md-6">
        <div class="widget-small primary coloured-icon"><i class='icon bx bxs-user-account fa-3x'></i>
          <div class="info">
            <h4>Tổng sinh viên</h4>
            <p><b th:text="${sv}"></b> sinh viên</p>
            <p class="info-tong">Tổng số sinh viên được quản lý.</p>
          </div>
        </div>
      </div>
       <!-- col-6 -->
          <div class="col-md-6">
            <div class="widget-small info coloured-icon"><i class='icon bx bxs-data fa-3x'></i>
              <div class="info">
                <h4>Tổng phòng</h4>
                <p><b th:text="${phong}"></b> phòng</p>
                <p class="info-tong">Tổng số phòng được quản lý.</p>
              </div>
            </div>
          </div>
           <!-- col-6 -->
          <div class="col-md-6">
            <div class="widget-small warning coloured-icon"><i class='icon bx bxs-shopping-bags fa-3x'></i>
              <div class="info">
                <h4>Tổng thuê phòng</h4>
                <p><b th:text="${tp}"></b> thuê phòng</p>
                <p class="info-tong">Tổng số thuê phòng.</p>
              </div>
            </div>
          </div>
           <!-- col-6 -->
          <div class="col-md-6">
            <div class="widget-small danger coloured-icon"><i class='icon bx bxs-error-alt fa-3x'></i>
              <div class="info">
                <h4>Phòng còn trống</h4>
                <p><b th:text="${ptrong}"></b> còn trống</p>
                <p class="info-tong">Số phòng còn trống.</p>
              </div>
            </div>
          </div>
           <!-- col-12 -->
           <div class="col-md-12">
            <div class="tile">
                <h3 class="tile-title">Phòng còn trống</h3>
              <div>
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>Mã Phòng</th>
                      <th>Sức Chứa</th>
                      <th>Đã Ở</th>
                 
                    </tr>
                  </thead>
                  <tbody>
              
                    
                       <tr th:each="pt : ${phongTrong}">
                    <td th:text="${pt.maPhong}"></td>
                    <td th:text="${pt.sucChua}"></td>
                    <td th:text="${pt.dangO}"></td>
                </tr>
                   
                  
                  </tbody>
                </table>
              </div>
              <!-- / div trống-->
            </div>
           </div>
             <div class="search-bar">
      <cennter>  <form action="/index" method="get">
            <label for="roomNumber">Số phòng </label>
            <input type="text" id="roomNumber" name="roomNumber"  placeholder="Enter Room Number">
            <button type="submit">Search</button>
        </form></cennter>
    </div>
             <!-- col-12 -->
        <div class="col-md-12">
                <div class="tile">
                  <h3 class="tile-title">Sinh viên đang ở</h3>
                <div >
                  <table border="1" class="table table-hover">
                    <thead>
                           <tr>
                <th>Mã sinh viên</th>
                <th>Tên</th>
                <th>Lớp</th>
                <th>Giới tính</th>
            </tr>
                    </thead>
                    <tbody>
                        <tr th:each="student : ${students}">
                     
                 <td th:text="${student.id}"></td>
                <td th:text="${student.name}"></td>
                <td th:text="${student.dob}"></td>
                <td th:text="${student.gender}"></td>
            </tr>  <!-- Gender -->
                </tr>
                     
                     
                   
                    </tbody>
                  </table>
                </div>

              </div>
            </div>
             <!-- / col-12 -->
        </div>
      </div>
      <!--END left-->
      <!--Right-->
 
      <!--END right-->
    </div>



  </main>
  
</body>

</html>
