<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" xmlns= "http://www.thymeleaf.org"
  th:replace="~{/layout/layout::dynamic(~{::title},~{::body})}">

<head>
  <title>Danh sách thuê phòng | Quản trị Admin</title>
 

</head>

<body onload="time()" class="app sidebar-mini rtl">
  <!-- Navbar-->
  
  <!-- Sidebar menu-->
  
  <main class="app-content">
    <div class="app-title">
      <ul class="app-breadcrumb breadcrumb side">
        <li class="breadcrumb-item active"><a href="#"><b>Danh sách thuê phòng</b></a></li>
      </ul>
      <div id="clock"></div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="tile">
          <div class="tile-body">

            <div class="row element-button">
              <div class="col-sm-2">

                <a class="btn btn-add btn-sm" href="/admin/addTP" title="Thêm"><i class="fas fa-plus"></i>
                  Tạo mới thuê phòng</a>
              </div>
              <div class="col-sm-2">
                <a class="btn btn-delete btn-sm nhap-tu-file" type="button" title="Nhập" onclick="myFunction(this)"><i
                    class="fas fa-file-upload"></i> Tải từ file</a>
              </div>

              <div class="col-sm-2">
                <a class="btn btn-delete btn-sm print-file" type="button" title="In" onclick="myApp.printTable()"><i
                    class="fas fa-print"></i> In dữ liệu</a>
              </div>
              <div class="col-sm-2">
                <a class="btn btn-delete btn-sm print-file js-textareacopybtn" type="button" title="Sao chép"><i
                    class="fas fa-copy"></i> Sao chép</a>
              </div>

              <div class="col-sm-2">
                <a class="btn btn-excel btn-sm" href="/export/excelThuePhong" title="In"><i class="fas fa-file-excel"></i> Xuất Excel</a>
              </div>
              <div class="col-sm-2">
                <a class="btn btn-delete btn-sm pdf-file" type="button" title="In" onclick="myFunction(this)"><i
                    class="fas fa-file-pdf"></i> Xuất PDF</a>
              </div>
              <div class="col-sm-2">
                <a class="btn btn-delete btn-sm" type="button" title="Xóa" onclick="myFunction(this)"><i
                    class="fas fa-trash-alt"></i> Xóa tất cả </a>
              </div>
            </div>
            
             <form th:action="@{/admin/TableTP/search}" method="post"style=" display: flex;
    justify-content: flex-end; /* Căn phải */
    padding: 10px; /* Có thể điều chỉnh theo ý muốn */" class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" 
      name="keywords" th:value="${keywords}"
      placeholder="Search" aria-label="Search">
      <ul id="results"></ul>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
            <table class="table table-hover table-bordered js-copytextarea" cellpadding="0" cellspacing="0" border="0"
              id="sampleTable">
              <thead>
                <tr >
                  <th width="10"><input type="checkbox" id="all"></th>
                  <th>Mã thuê phòng</th>
                 
                  <th>Mã phòng</th>
                   <th >Mã sinh viên</th>
                  <th>Ngay bắt đầu</th>
                  <th>Ngày kết thúc</th>                  
                  <th >Giá thuê</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="tp,iStat:${ThuePhongPage.content}" >
                  <td width="10"><input type="checkbox" name="check1" value="1"></td>
                  <td>[[${tp.maThuePhong}]]</td>
                  <td>[[${tp.maPhong.idPhong}]]</td>
                  <td>[[${tp.maSV.idSV}]]</td>
                  <td>[[${tp.ngayBatDau}]]</td>
                  <td>[[${tp.ngayKetThuc}]]</td>
                  <td>[[${#numbers.formatDecimal(tp.giaThue,
														0, 'POINT', 0, 'NONE')}]]₫</td>
          
                  <td>       <a class="btn btn-primary btn-sm view" 
						   th:href="@{|/admin/updateTT?id=${tp.maThuePhong}|}" 
						   title="Xem thông in">
						   <i >Xem</i>
								</a>
                  </td>
                  <td>       <a class="btn btn-primary btn-sm edit" 
						   th:href="@{|/admin/updateTP?id=${tp.maThuePhong}|}" 
						   title="Sửa">
						   <i class="fas fa-edit"></i>
								</a>
                  </td>
                </tr>
               
              
               
               

              </tbody>
            </table>
            
             <div class"row">
            <div class="col-sm-12 col-md-5">
            <div class="dataTables_info" id="sampleTable_info" role="status" aria-live="polite">
            Hiện [[${ThuePhongPage.number+1}]] đến [[${ThuePhongPage.totalPages}]] của [[${ThuePhongPage.totalElements}]] danh mục</div>
            </div>
            <div class="col-sm-12 col-md-12">
            
				<nav th:if="${ThuePhongPage.totalPages >0}"
				aria-label="Page navigation example">
					  <ul class="pagination justify-content-end">
					    <li th:class="${1== ThuePhongPage.number + 1} ? 'page-item disabled ' : 'page-item'">
					      <a  th:href="@{|/admin/TableTP?s=${ThuePhongPage.size}&p =0|}" class="page-link">First</a>
					    </li>
					     <li class="page-item active"
          th:each="pageNumber :${pageNumbers}" 
          th:if="${ThuePhongPage.totalPages > 1}"
          th:class="${pageNumber == ThuePhongPage.number + 1} ? 'page-item active' : 'page-item'">
          <a  th:href="@{|/admin/TableTP?s=${ThuePhongPage.size}&p=${pageNumber-1}|}" 
          class="page-link"
          th:text="${pageNumber}"></a>
          </li>
					     <li th:class="${ThuePhongPage.totalPages == ThuePhongPage.number + 1} ? 'page-item disabled ' : 'page-item'">
            <a  th:href="@{|/admin/TableTP?s=${ThuePhongPage.size}&p=${ThuePhongPage.totalPages-1}|}" class="page-link">Last</a>
          </li>
					  </ul>
					</nav>		     
							</div>
							</div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <!--
  MODAL
-->
  
  <!--
  MODAL
-->

  <!-- Essential javascripts for application to work-->
  <script src="js/jquery-3.2.1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="src/jquery.table2excel.js"></script>
  <script src="js/main.js"></script>
  <!-- The javascript plugin to display page loading on top-->
  <script src="js/plugins/pace.min.js"></script>
  <!-- Page specific javascripts-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
  <!-- Data table plugin-->
  <script type="text/javascript" src="js/plugins/jquery.dataTables.min.js"></script>
  <script type="text/javascript" src="js/plugins/dataTables.bootstrap.min.js"></script>
  <script type="text/javascript">$('#sampleTable').DataTable();</script>
  <script>
    function deleteRow(r) {
      var i = r.parentNode.parentNode.rowIndex;
      document.getElementById("myTable").deleteRow(i);
    }
    jQuery(function () {
      jQuery(".trash").click(function () {
        swal({
          title: "Cảnh báo",
         
          text: "Bạn có chắc chắn là muốn xóa nhân viên này?",
          buttons: ["Hủy bỏ", "Đồng ý"],
        })
          .then((willDelete) => {
            if (willDelete) {
              swal("Đã xóa thành công.!", {
                
              });
            }
          });
      });
    });
    oTable = $('#sampleTable').dataTable();
    $('#all').click(function (e) {
      $('#sampleTable tbody :checkbox').prop('checked', $(this).is(':checked'));
      e.stopImmediatePropagation();
    });

    //EXCEL
    // $(document).ready(function () {
    //   $('#').DataTable({

    //     dom: 'Bfrtip',
    //     "buttons": [
    //       'excel'
    //     ]
    //   });
    // });


    //Thời Gian
    function time() {
      var today = new Date();
      var weekday = new Array(7);
      weekday[0] = "Chủ Nhật";
      weekday[1] = "Thứ Hai";
      weekday[2] = "Thứ Ba";
      weekday[3] = "Thứ Tư";
      weekday[4] = "Thứ Năm";
      weekday[5] = "Thứ Sáu";
      weekday[6] = "Thứ Bảy";
      var day = weekday[today.getDay()];
      var dd = today.getDate();
      var mm = today.getMonth() + 1;
      var yyyy = today.getFullYear();
      var h = today.getHours();
      var m = today.getMinutes();
      var s = today.getSeconds();
      m = checkTime(m);
      s = checkTime(s);
      nowTime = h + " giờ " + m + " phút " + s + " giây";
      if (dd < 10) {
        dd = '0' + dd
      }
      if (mm < 10) {
        mm = '0' + mm
      }
      today = day + ', ' + dd + '/' + mm + '/' + yyyy;
      tmp = '<span class="date"> ' + today + ' - ' + nowTime +
        '</span>';
      document.getElementById("clock").innerHTML = tmp;
      clocktime = setTimeout("time()", "1000", "Javascript");

      function checkTime(i) {
        if (i < 10) {
          i = "0" + i;
        }
        return i;
      }
    }
    //In dữ liệu
    var myApp = new function () {
      this.printTable = function () {
        var tab = document.getElementById('sampleTable');
        var win = window.open('', '', 'height=700,width=700');
        win.document.write(tab.outerHTML);
        win.document.close();
        win.print();
      }
    }
    //     //Sao chép dữ liệu
    //     var copyTextareaBtn = document.querySelector('.js-textareacopybtn');

    // copyTextareaBtn.addEventListener('click', function(event) {
    //   var copyTextarea = document.querySelector('.js-copytextarea');
    //   copyTextarea.focus();
    //   copyTextarea.select();

    //   try {
    //     var successful = document.execCommand('copy');
    //     var msg = successful ? 'successful' : 'unsuccessful';
    //     console.log('Copying text command was ' + msg);
    //   } catch (err) {
    //     console.log('Oops, unable to copy');
    //   }
    // });


    //Modal
    $("#show-emp").on("click", function () {
      $("#ModalUP").modal({ backdrop: false, keyboard: false })
    });
  </script>
</body>

</html>