<!DOCTYPE HTML>
<html>
<head>
<title>CẬP NHẬT TÀI KHOẢN</title>
<script src="assets/js/jquery.min.js"></script>

<!-- Custom Theme files -->
<link href="assets/css/styleLogin.css" rel="stylesheet" type="text/css" media="all"/>
<!-- for-mobile-apps -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<meta name="keywords" content="Classy Login form Responsive, Login form web template, Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<!-- //for-mobile-apps -->
<!--Google Fonts-->
<!-- <link href='//fonts.googleapis.com/css?family=Roboto+Condensed:400,700' rel='stylesheet' type='text/css'> -->
</head>
<body>
<!--header start here-->
<div class="header">
		<div class="header-main">
		       <h2 style="color:white;text-align:center;font-size:40px;padding-bottom: 0.8em">CẬP NHẬT TÀI KHOẢN</h2>
		       <center><span style="color:red" th:text="${tb}"></span></center>
			<div class="header-bottom">
				<div class="header-right w3agile">
					
			<div class="header-left-bottom agileinfo">
						
	<form action="/editProfile" method="post">
					  
		<input type="text"name="username" th:value="${username}" placeholder="Username"readonly/>
					
		<input type="text"name="fullname" th:value="${fullname}" placeholder="Username" required/>
		 <i style="color:red">${ktPhone}</i>
		<input type="number"name="phone" th:value="${phone}" maxlength="10" placeholder="Phone" required/>
		<i style="color:red">${ktEmail}</i>
		<input type="email"name="email" th:value="${email}" placeholder="Email"/>	
		<div class="forgot">
							<h6>  <a href="/login">Đăng nhập</a></h6>
						 </div>
						 <br><br><br>
	<input type="submit" onclick="alert('Cập nhật tài khoản thành công')" value="Gửi">
  </form>	
					
					
						
				</div>
				</div>
			  
			</div>
		</div>
</div>
<!--header end here-->
<div class="copyright">
	
</div>
<!--footer end here-->
</body>
</html>