
<!DOCTYPE html>
<html class="no-js" lang="zxx" xmlns= "http://www.thymeleaf.org" 
  th:replace="~{/layout/layout::dynamic(~{::title},~{::body})}">

<head>
<meta charset="UTF-8">
<title th:text="#{order.title}"></title>
</head>
    <body>

                        <!--header end -->
                         <!--breadcrumbs area start-->
                        <div class="breadcrumbs_area">
                            <div class="row">
                                <div class="col-12">
                                    <div class="breadcrumb_content">
                                        <ul>
                                            <li><a href="/index">Trang chủ</a></li>
                                            <li><i class="fa fa-angle-right"></i></li>
                                            <li>Đặt hàng</li>
                                        </ul>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--breadcrumbs area end-->


                        <!--Checkout page section-->
                        <div class="Checkout_section">
                            <div class="row">
                                   <div class="col-12">
                    
                                   </div>
                                </div>
                            <div class="checkout_form">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-6">
                                            <form th:action="@{/addOrder}" mehtod="post"  >
                                                <h3>Chi tiết đặt hàng</h3>
                                                <div class="row">
                                                <input type="hidden" name="amount"  th:value="${tongTien}+30000" >
                                                  
                                                    <div class="col-12 mb-30">
                                                        <label>Tên <span>*</span></label>
                                                        <input type="text" name="user" th:value="${acc.id}" readonly>    
                                                    </div>
                               
                                                    <div class="col-lg-6 mb-30">
                                                        <label>Số điện thoại<span>*</span></label>
                                                        <input name="phone" type="number" th:value="${acc.phone}" > 
                                                     <i style="color:red" >[[${loiphone}]]</i>
                                                    </div> 
                                                     <div class="col-lg-6 mb-30">
                                                        <label> Email <span>*</span></label>
                                                          <input type="text" name="email" th:value="${acc.email}" readonly> 

                                                    </div> 
                                                          <div class="col-12 mb-30">
                                                        <label>Địa chỉ  <span>*</span></label>
                                                        <input placeholder="Số nhà, đường, xã, tỉnh. Hãy nhập địa chỉ cụ thể của bạn" name="address" type="text">   
                                                          <i style="color:red">[[${loiaddress}]]</i>
                                                    </div>
     
                                                    <div class="col-12">
                                                     <div class="order-notes">
                                                             <label for="order_note">Ghi chú</label>
                                                            <textarea id="order_note" name="description" placeholder="Ghi chú"></textarea>
                                                        </div>    
                                                    </div>   
                                                  	    	    	    	    	    
                                                </div>
                                                    <i style="color:red">[[${loicheckout}]]</i>
                                                            <div class="payment_method">
                                                   <div class="panel-default">
                                                          <input id="payment" name="checkout" type="radio" data-target="createp_account" value="false">
                                                        <label for="payment" data-toggle="collapse" data-target="#method" aria-controls="method">Thanh toán bằng tiền mặt</label>
  
                                                     <div id="methd" class="collapse one" data-parent="#accordion">
                                                           <div class="card-body1">
                                                               <p>Thanh toán khi nhận được hàng</p>
                                                                 <input id="payment" checked="checked" name="checkout" type="radio" data-target="createp_account" value="null">
                                                            </div>
                                                        </div>
                                                    </div> 
                                                 <div class="panel-default">
                                                           <input id="payment_defult" name="checkout" type="radio" data-target="createp_account" value="true">
                                                        <label for="payment_defult" data-toggle="collapse" data-target="#collapsedefult" aria-controls="collapsedefult">Ví điện tử <img src="assets\img\visha\vnpay.png" alt=""></label>
   
                                                        <div id="collapsedeful" class="collapse one" data-parent="#accordion">
                                                            <div class="card-body1">
                                                               <p>Thanh toán qua ví điện tử</p> 
                                                            </div>
                                                        </div>
                                                    </div>
                                                    
                                                          <div th:if="${tongTien} != null">
								<div class="order_button">
									<button type="submit">Tiến hành đặt hàng</button>
								</div>
							</div>
													                <div th:if="${tongTien} == null">
													                 
												                                 <div class="checkout_btn">
												             <a  onclick="alert('Vui lòng thêm sản phẩm cần mua vào giỏ hàng!')" href="#">Tiến hành thanh toán</a>
												               </div>
           																		     </div> 
                                               
                                                </div> 
                                            </form>    
                                        </div>
                                        <div class="col-lg-8 col-md-6">
                                            <form action="#">    
                                                <h3>Đơn hàng của bạn</h3> 
                                                <div class="order_table table-responsive mb-30">
                                                    <table>
                                                        <thead>
                                                            <tr>
                                                                 <th>Hình</th>
                                                                <th>Sản phẩm</th>
                                                                <th>Giá</th>
                                                                <th>Thành tiền</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                           <tr th:each="HoLy:${item}">
                                                                <td><a href="#"><img style="width:60px;"  th:src="@{|/imgProducts/${HoLy.imgProductCart}.png|}"  alt=""></a></td>
                                                                <td> [[${HoLy.nameProductCart}]]<strong> x [[${HoLy.quanlityProductCart}]]</strong></td>
                                                                <td> ₫[[${#numbers.formatDecimal(HoLy.priceProductCart * 1, 0, 'POINT', 0, 'NONE')}]]</td>
                                                                <td>₫[[${#numbers.formatDecimal(HoLy.priceProductCart * HoLy.quanlityProductCart * 1, 0, 'POINT', 0, 'NONE')}]]</td>
                                                            </tr>
                                                        
                                                        </tbody>
                                                        <tfoot>
                                                            <tr>
                                                                <th>Tổng giỏ hàng</th>
                                                                <td></td>
                                                                <td></td>
                                                                <td><strong>₫[[${#numbers.formatDecimal(tongTien * 1, 0, 'POINT', 0, 'NONE')}]]</strong></td>
                                                                
                                                            </tr>
                                                            <tr>
                                                                <th>Phí vận chuyển</th>
                                                                <td></td>
                                                                <td></td>
                                                                <td><strong>₫30.000</strong></td>
                                                            </tr>
                                                            <tr class="order_total">
                                                                <th>Thành tiền</th>
                                                                <td></td>
                                                                <td></td> 
                                                                <td><strong> ₫[[${#numbers.formatDecimal((tongTien + 30000) * 1, 0, 'POINT', 0, 'NONE')}]]</strong></td>
                                                               
                                                            </tr>
                                                        </tfoot>
                                                    </table>     
                                                </div>
                                    
                                            </form>         
                                        </div>
                                    </div> 
                                </div>        
                        </div>
                        <!--Checkout page section end-->

                    </div>
                    <!--pos page inner end-->
                </div>
            </div>
            <!--pos page end-->
            
            <!--footer area start-->
        
    </body>
</html>

