<!DOCTYPE html>
<html class="no-js" lang="zxx" xmlns= "http://www.thymeleaf.org"
  th:replace="~{/layout/layout::dynamic(~{::title},~{::body})}">
<head>
<meta charset="UTF-8">
<title th:text="#{home.title}"></title>
</head>
<body>
                        <!--header end -->

                        <!--pos home section-->
                        <div class=" pos_home_section">
                            <div class="row pos_home">
                                <div class="col-lg-3 col-md-8 col-12">
                                   <!--sidebar banner-->
                      <!--             <div class="sidebar_widget banner mb-35">
                                        <div class="banner_img mb-35">
                                            <a href="#"><img src="assets\img\banner\banner5.jpg" alt=""></a>
                                        </div>
                                        <div class="banner_img">
                                            <a href="#"><img src="assets\img\banner\banner6.jpg" alt=""></a>
                                        </div>
                                    </div> -->
                                    <!--sidebar banner end-->

                                    <!--categorie menu start-->
                                    <div class="sidebar_widget catrgorie mb-35">
                                        <h3><span th:text="#{lo.mn.category }"></span></h3>
                                        <ul>
                                      

                                            </li>   
                                             <li th:each="HoLy:${category}"  class="has-sub"><a href="#"><i class="fa fa-caret-right"></i> [[${HoLy.nameCategory}]]</a>
                                                <ul class="categorie_sub">
                                        
                                                    <li><a th:href="@{|/shop/${HoLy.id}?subcategory=1|}"><span th:text="#{lo.mn.men }"></span></a></li>
                                                    <li><a th:href="@{|/shop/${HoLy.id}?subcategory=2|}"><span th:text="#{lo.mn.women }"></span></a></li>
                                                </ul>     
                                            </li>          

                                        </ul>
                                    </div>
                                    <!--categorie menu end-->
                                   

                                    <!--sidebar banner-->
                                    <div class="sidebar_widget bottom ">
                                        <div class="banner_img">
                                            <a href="#"><img src="assets\img\banner\holy1.jpg" alt=""></a>
                                        </div>
                                    </div>
                                    <!--sidebar banner end-->



                                </div>
                                <div class="col-lg-9 col-md-12">
                                    <!--banner slider start-->
                                    <div class="banner_slider slider_1">
                                        <div class="slider_active owl-carousel">
                                            <div class="single_slider" style="background-image: url(assets/img/slider/sl1.png)">
                                                <div class="slider_content">
                                                    <div class="slider_content_inner">  
                                                        <h1>Đồng hồ nam</h1>
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
                                                        <a href="/shop?subcategory=1">Xem</a>
                                                    </div>     
                                                </div>    
                                            </div>
                                            <div class="single_slider" style="background-image: url(assets/img/slider/slCasio.png)">
                                                <div class="slider_content">
                                                    <div class="slider_content_inner">  
                                                        <h1>Casio</h1>
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
                                                        <a href="/shop/find?keywords=casio">Xem</a>
                                                    </div>         
                                                </div>         
                                            </div>
                                            <div class="single_slider" style="background-image: url(assets/img/slider/sl2.png)">
                                                <div class="slider_content">  
                                                    <div class="slider_content_inner">  
                                                        <h1>Best Collection</h1>
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
                                                        <a href="#">Xem</a>
                                                    </div> 
                                                </div> 
                                            </div>
                                        </div>
                                    </div> 
                                    <!--banner slider start-->

                                    <!--new product area start-->
                                    <div class="new_product_area">
                                        <div class="block_title">
                                            <h3>Sản phẩm mới</h3>
                                        </div>
                                        <div class="row">
                                            <div class="product_active owl-carousel">
                                                <div th:each="HoLy:${item}"  class="col-lg-3">
                                             
                                                    <div class="single_product">
                                                        <div class="product_thumb">
                                                           <a th:href="@{|/singleProduct/${HoLy.id}|}"><img th:src="@{|/imgProducts/${HoLy.image}.png|}" alt=""></a> 
                                                           <div class="img_icone">
                                                               <img src="assets\img\cart\span-new.png" alt="">
                                                           </div>
                                                         
                                                                      <div th:if="${HoLy.quantity} == 0">
							 								<div class="product_action">
                                                               <a onclick="alert('Xin lỗi! Sản phẩm đã hết hàng.')" href="#"> <i class="fa fa-shopping-cart"></i> Thêm vào giỏ hàng</a>
                                                           </div>
																	</div>
													                <div th:if="${HoLy.quantity} != 0">
																		 <div class="product_action">
                                              					          <a onclick="alert('Đã thêm vào giỏ hàng!')" th:href="@{|/addCartO/${HoLy.id}|}"> <i class="fa fa-shopping-cart"></i> Thêm vào giỏ hàng</a>
                                                           </div>
												           
           													</div> 
                                                         
                                                         
                                                          
                                                      
                                                        </div>
                                                        <div class="product_content">
                                                            <span class="product_price">₫[[${#numbers.formatDecimal(HoLy.price, 0, 'POINT', 0, 'NONE')}]]</span>
                                                            <h3 class="product_title"><a  th:href="@{|/singleProduct/${HoLy.id}|}">[[${HoLy.name}]]</a></h3>
                                                        </div>
                                                        <div class="product_info">
                                                            <ul>
                                      
                                                                <li><a  th:href="@{|/singleProduct/${HoLy.id}|}"  >Xem chi tiết</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                              
                                                </div>
                                               
                                            </div> 
                                        </div>       
                                    </div> 
                                    <!--new product area start-->  

                                    <!--featured product start--> 
                                    <div class="featured_product">
                                        <div class="block_title">
                                            <h3>Sản phẩm bán chạy</h3>
                                        </div>
                                        <div class="row">
                                            <div class="product_active owl-carousel">
                                                <div th:each="HoLy:${item2}"  class="col-lg-3">
                                             
                                                    <div class="single_product">
                                                        <div class="product_thumb">
                                                           <a th:href="@{|/singleProduct/${HoLy.id}|}"><img th:src="@{|/imgProducts/${HoLy.image}.png|}" alt=""></a> 
                                                           <div class="img_icone">
                                                              
                                                           </div>
                                                         
                                                                      <div th:if="${HoLy.available} != true">
							                      <div class="product_action">
                                                               <a onclick="alert('Xin lỗi! Sản phẩm đã hết hàng.')" href="#"> <i class="fa fa-shopping-cart"></i> Thêm vào giỏ hàng</a>
                                                           </div>
							                        </div>
													                <div th:if="${HoLy.available} == true">
												 <div class="product_action">
                                                               <a onclick="alert('Đã thêm vào giỏ hàng!')" th:href="@{|/addCartO/${HoLy.id}|}"> <i class="fa fa-shopping-cart"></i> Thêm vào giỏ hàng</a>
                                                           </div>
												           
           																		     </div> 
                                                         
                                                         
                                                          
                                                      
                                                        </div>
                                                        <div class="product_content">
                                                            <span class="product_price">₫[[${#numbers.formatDecimal(HoLy.price, 0, 'POINT', 0, 'NONE')}]]</span>
                                                            <h3 class="product_title"><a  th:href="@{|/singleProduct/${HoLy.id}|}">[[${HoLy.name}]]</a></h3>
                                                        </div>
                                                        <div class="product_info">
                                                            <ul>
                                      
                                                                <li><a  th:href="@{|/singleProduct/${HoLy.id}|}">Xem chi tiết</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                              
                                                </div>
                                               
                                            </div> 
                                        </div>       
                                    </div>      
                                    <!--featured product end--> 

                                    <!--banner area start-->
                                    <div class="banner_area mb-60">
                                        <div class="row">
                                            <!-- <div class="col-lg-6 col-md-6">
                                                <div class="single_banner">
                                                    <a href="#"><img src="assets\img\banner\banner7.jpg" alt=""></a>
                                                    <div class="banner_title">
                                                        <p>Up to <span> 40%</span> off</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6">
                                                <div class="single_banner">
                                                    <a href="#"><img src="assets\img\banner\banner8.jpg" alt=""></a>
                                                    <div class="banner_title title_2">
                                                        <p>sale off <span> 30%</span></p>
                                                    </div>
                                                </div>
                                            </div> -->
                                        </div>
                                    </div>     
                                    <!--banner area end--> 

                                   
                                </div>
                            </div>  
                        </div>
                        <!--pos home section end-->
                   
    
</body>
</html>