
<!DOCTYPE html>
<html class="no-js" lang="zxx" xmlns= "http://www.thymeleaf.org" 
  th:replace="~{/layout/layout::dynamic(~{::title},~{::body})}">

<head>
<meta charset="UTF-8">
<title th:text="#{historydetail.title}"></title>
</head>
<body>
  <!--header end -->
                         <!--breadcrumbs area start-->
                        <div class="breadcrumbs_area">
                            <div class="row">
                                <div class="col-12">
                                    <div class="breadcrumb_content">
                                        <ul>
                                            <li><a href="/index">Trang chủ</a></li>
                                            <li><i class="fa fa-angle-right"></i></li>
                                            <li>Lịch sử đặt hàng</li>
                                        </ul>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--breadcrumbs area end-->



                         <!--shopping cart area start -->
                        <div class="shopping_cart_area">
                           
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="table_desc">
                                            
                                      
                                            
                                          
                                                <div  class="cart_page table-responsive">
                                                    <table>
                                                <thead>
                                                    <tr>
                                                       
                                                         
                                                        <th class="product_thumb">Hình</th>
                                                        <th class="product_name">Sản phẩm</th>
                                                        <th class="product-price">Giá</th>
                                                        <th class="product_quanlity">Số lượng</th>
                                                        <th class="product_total">Thành tiền</th>
                                                    
                                                    </tr>
                                                </thead>
                                                <tbody >
                                                    <tr th:each="HoLy:${item}">
                                                         
                                                       <td class="product_thumb"><a href="#"><img style="width:25%;" th:src="@{|/imgProducts/${HoLy.image}.png|}"  alt=""></a></td>
                                                        <td class="product_name"> [[${HoLy.name}]]</td>
                                                        <td class="product-price"> ₫[[${#numbers.formatDecimal(HoLy.price * 1, 0, 'POINT', 0, 'NONE')}]]</td>
                                                        <td class="product_quanlity">[[${HoLy.quanlity}]]</td>
                                                        <td class="product_total"> ₫[[${#numbers.formatDecimal((HoLy.quanlity * HoLy.price) * 1, 0, 'POINT', 0, 'NONE')}]]</td>
                                                      

                                                    </tr>
                                              
                                                 
                                                </tbody>
                                            </table>   
                                                </div>  
                                               
                                                     
                                             
                                            </div>
                                         </div>
                                     </div>
                       
                            
                         </div>
                         
                         <!--shopping cart area end -->
                                <!--    <div class="coupon_area">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6">
                                         <!--         <div class="coupon_code">
                                                    <h3>Coupon</h3>
                                                    <div class="coupon_inner">   
                                                        <p>Enter your coupon code if you have one.</p>                                
                                                        <input placeholder="Coupon code" type="text">
                                                        <button type="submit">Apply coupon</button>
                                                    </div>    
                                                </div> 
                                            </div>
                                            <div class="col-lg-6 col-md-6">
                                                <div class="coupon_code">
                                                    <h3>Cart Totals</h3>
                                                    <div class="coupon_inner">
                                                       <div class="cart_subtotal">
                                                           <p>Tổng giỏ hàng</p>
                                                          
                                                           <p class="cart_amount"> ₫[[${#numbers.formatDecimal(tongTien, 0, 'POINT', 0, 'NONE')}]]</p>
                                                       </div>
                                                       <div class="cart_subtotal ">
                                                           <p>Phí vận chuyển</p>
                                                           <p class="cart_amount">₫ 30.000</p>
                                                       </div>
                                     

                                                       <div class="cart_subtotal">
                                                           <p>Thành tiền</p>
                                                            
                                                           <p class="cart_amount">₫[[${#numbers.formatDecimal(tongTien+30000, 0, 'POINT', 0, 'NONE')}]]</p>
                                                       </div>
                                                      
                                                                     <div th:if="${tongTien} != 0">
                                                                <div class="checkout_btn">
												                           <a th:href="@{/checkout}">Tiến hành đặt hàng</a>
												                            </div>
													                </div>
													                <div th:if="${tongTien} == 0">
													                 
												                                 <div class="checkout_btn">
												             <a  onclick="alert('Vui lòng thêm sản phẩm cần mua vào giỏ hàng!')" href="#">Tiến hành đặt hàng</a>
												               </div>
           																		     </div> 
                                                     
                                                      
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>-->

</body>
</html>