
<!DOCTYPE html>
<html class="no-js" lang="zxx" xmlns= "http://www.thymeleaf.org" 
  th:replace="~{/layout/layout::dynamic(~{::title},~{::body})}">

<head>
<meta charset="UTF-8">
<title th:text="#{history.title}"></title>
</head>
<body>
  <!--header end -->
                         <!--breadcrumbs area start-->
                        <div class="breadcrumbs_area">
                            <div class="row">
                                <div class="col-12">
                                    <div class="breadcrumb_content">
                                        <ul>
                                            <li><a href="/index">Trang chủ</a></li>
                                            <li><i class="fa fa-angle-right"></i></li>
                                            <li>Lịch sử đặt hàng</li>
                                        </ul>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--breadcrumbs area end-->



                         <!--shopping cart area start -->
                        <div class="shopping_cart_area">
                           
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="table_desc">
                                            
                                      
                                            
                                          
                                                <div  class="cart_page table-responsive">
                                                    <table>
                                                <thead>
                                                    <tr>
                                                       
                                                           <th class="productthumb">Ngày</th>
                                                           <th class="product-name">Số điện thoại</th>
                                                        <th class="product_name">Địa chỉ</th>
                                                        
                                                        <th class="product_total">Tông tiền</th>
                                                          <th class="product_total">Trạng thái</th>
                                                          <th class="product_remove">Hủy đơn hàng</th>
                                                        <th class="product_total"></th>
                                                      
                                                       
                                                       
                                                       
                                                       
                                                     
                                                    </tr>
                                                </thead>
                                                <tbody >
                                                    <tr th:each="HoLy:${item}">
                                                          <td class="product_thumb"> [[${HoLy.orderDate}]]</td>
                                                        <td class="product_name"> [[${HoLy.phone}]]</td>
                                                        <td class="product-name">[[${HoLy.address}]]</td>
                                                        <td class="product_total"> ₫[[${#numbers.formatDecimal(HoLy.amount * 1, 0, 'POINT', 0, 'NONE')}]]</td>
                                                        
                                                             <td class="product_total">[[${HoLy.status}]]</td>
                                                             
                                                              <!-- <div th:if="${HoLy.status} != Đã giao">
                                                                  <td class="product_remove"><a th:href="@{|/orderHistory/${HoLy.id}|}"><i class="fa fa-trash-o"></i></a></td>
							
						                            	</div>
													                <div th:if="${HoLy.status} == Đã giao">
												    <td class="product_remove"><a onclick="alert('Đơn hàng đã giao không hủy được.')" th:href="#"><i class="fa fa-trash-o"></i></a></td>
												           -->  
           												
						   <td class="product_remove"><a th:href="@{|/orderHistory/${HoLy.id}|}"><i class="fa fa-trash-o"></i></a></td>   
						
													             
                                                                  
                                                        <td class="product_remove"><a th:href="@{|/orderHistoryDetail/${HoLy.id}|}">Xem</a></td>
                                                    
                                                     

                                                    </tr>
                                              
                                                 
                                                </tbody>
                                            </table>   
                                                </div>  
                                               
                                                     
                                             
                                            </div>
                                         </div>
                                     </div>
                       
                            
                         </div>
                         
                         <!--shopping cart area end -->

   
</body>
